body {
  background-color: #CDECFF
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: .1px
}

.header {
  background-color: #357EDD;
  color: #000000;
}

.sub-header {
  background-color: #96CCFF;
  color: #000000;
}


